@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  font-size: 14px; /* mặc định (mobile) */
}

@media (min-width: 768px) { /* md */
  :root {
    font-size: calc(18px + 6px); /* 24px */
  }
}

@media (min-width: 1023px) { /* lg */
  :root {
    font-size: calc(18px + 12px); /* 32px */
  }
}
body {
  background-color: #12061F;
  font-family: '';
  overflow-x: hidden;
  /* overflow: hidden; */
  width: 100%;
}
